.indra-meta-box-content > div {
	padding: 12px;
}
#indra_layout_options_meta_box .inside {
	padding: 0;
	margin:0;
}
#indra-meta-box-container .indra-meta-box-menu {
	position: relative;
	float: left;
	list-style: none;
	width: 180px;
	line-height: 1em;
	margin: 0 0 -1px 0;
	padding: 0;
	background-color: #fafafa;
	border-right: 1px solid #eee;
	box-sizing: border-box;
}

#indra-meta-box-container .indra-meta-box-menu li {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	line-height: 20px;
}

#indra-meta-box-container .indra-meta-box-menu li a {
	display: block;
	margin: 0;
	padding: 10px;
	line-height: 20px !important;
	text-decoration: none;
	border-bottom: 1px solid #eee;
	box-shadow: none;
}

#indra-meta-box-container .indra-meta-box-content {
	float: left;
	width: calc( 100% - 180px );
	margin-left: -1px;
	border-left: 1px solid #eee;
}

#indra-meta-box-container {
	overflow: hidden;
	background: #fff;
	background: linear-gradient( 90deg, #fafafa 0%, #fafafa 180px, #fff 180px, #fff 100% );
}

#indra-meta-box-container .current {
	position: relative;
	font-weight: bold;
	background-color: #e0e0e0;
}

#indra-meta-box-container .current a {
	color: #555;
}

#indra-meta-box-container label {
	font-weight: 400;
	display: inline-block;
	margin-bottom: 3px;
}

.indra-meta-box-menu li {
	display: inline-block;
}

#side-sortables #indra-meta-box-container .indra-meta-box-menu,
#side-sortables #indra-meta-box-container .indra-meta-box-content  {
    float: none;
    width: 100%;
}

.wpkoi-event-metabox {
    margin-bottom: 20px
}

.wpkoi-event-metabox label {
    width: 165px;
    margin-right: 10px;
    display: inline-block;
}

.wpkoi-event-metabox input {
    width: 60%;
}