caption,
td,
th {
    text-align: right;
}
.main-navigation ul ul {
    float: right;
    left: auto;
    right: 0;
    text-align: right;
}
.main-navigation ul ul ul {
    left: auto;
    right: 100%;
}

.menu-item-has-children .dropdown-menu-toggle {
	float: left !important;
}

.rtl .main-navigation ul ul, .rtl .secondary-navigation ul ul.sub-menu {
    right: -999999px;
}

.rtl.dropdown-hover .main-navigation ul li.sfHover > ul,
.rtl.dropdown-hover .main-navigation ul li:hover > ul,
.rtl.dropdown-hover .secondary-navigation ul li.sfHover > ul,
.rtl.dropdown-hover .secondary-navigation ul li:hover > ul {
    right: 0;
}

.rtl.dropdown-hover .main-navigation ul ul li.sfHover > ul,
.rtl.dropdown-hover .main-navigation ul ul li:hover > ul,
.rtl.dropdown-hover .secondary-navigation ul ul li.sfHover > ul,
.rtl.dropdown-hover .secondary-navigation ul ul li:hover > ul {
    right: 100%;
}

.alignleft {
    float: right;
    margin-left: 1.5em;
}
.alignright {
    float: left;
    margin-right: 1.5em;
}
.main-navigation li {
    float: right;
}
.main-navigation li.search-item {
    float: left;
}
.nav-left-sidebar .main-navigation li.search-item.current-menu-item,
.nav-right-sidebar .main-navigation li.search-item.current-menu-item {
    float: left;
}
.sidebar .menu-item-has-children .dropdown-menu-toggle,
nav ul ul .menu-item-has-children .dropdown-menu-toggle {
    float: left;
}
.comment-meta .avatar {
    float: right;
    margin-left: 10px;
}
.page-header .avatar {
    float: right;
    margin-left: 1.5em;
}
.header-widget {
    float: left;
}
.sf-menu>li.menu-item-float-right {
    float: left!important;
}
.slideout-navigation .menu-item-has-children .dropdown-menu-toggle {
    float: left;
}
.dropdown-click #indra-slideout-menu .slideout-menu .menu-item-has-children>a:first-child,
.slideout-desktop.dropdown-hover #indra-slideout-menu .slideout-menu .menu-item-has-children>a:first-child {
    padding-left: 0;
}
.comment .children {
    padding-right: 30px;
    border-right: 1px solid rgba(0, 0, 0, .05);
}
.main-navigation .main-nav ul li.menu-item-has-children>a,
.secondary-navigation .main-nav ul li.menu-item-has-children>a {
    padding-left: 0;
}
nav:not(.toggled) ul ul .menu-item-has-children .dropdown-menu-toggle {
    padding-left: 15px;
}
nav:not(.toggled) .menu-item-has-children .dropdown-menu-toggle {
    padding-right: 10px;
}
.main-navigation ul,
.menu-toggle li.search-item {
    padding-right: 0;
}
ol,
ul {
    margin: 0 3em 1.5em 0;
}
li>ol,
li>ul {
    margin-right: 1.5em;
}
.menu-toggle .mobile-menu {
    margin-right: 5px;
	margin-left: 0;
}
.widget_categories .children {
    margin-right: 1.5em;
}
.right-sidebar .site-main {
    margin: 30px 0 30px 30px;
}
.left-sidebar .site-main {
    margin: 30px 30px 30px 0;
}
.both-right.separate-containers .site-main {
    margin: 30px 0 30px 30px;
}
.both-left.separate-containers .site-main {
    margin: 30px 30px 30px 0;
}
.both-left .inside-left-sidebar,
.both-right .inside-left-sidebar {
    margin-left: 15px;
}
.both-left .inside-right-sidebar,
.both-right .inside-right-sidebar {
    margin-right: 15px;
}
.one-container.both-right .site-main,
.one-container.right-sidebar .site-main {
    margin-left: 60px;
}
.one-container.both-left .site-main,
.one-container.left-sidebar .site-main {
    margin-right: 60px;
}
.widget_nav_menu ul ul,
.widget_pages ul ul {
    margin-right: 1em;
}
.cat-links:before,
.comments-link:before,
.nav-next .next:before,
.nav-previous .prev:before,
.tags-links:before,
footer.entry-meta .author:before,
footer.entry-meta .posted-on:before {
    margin-left: 5px;
}

.menu-toggle,
.nav-search-enabled .main-navigation .menu-toggle {
	text-align: right;
}

.main-navigation .mobile-bar-items {
	float: left;
	left: 0;
	right: auto;
}

.rtl .inside-navigation .search-form {
	left: auto;
	right: -999999px;
}

.rtl .inside-navigation .search-form.nav-search-active {
    right: 0;
}

.rtl .footer-bar .widget_nav_menu li {
    direction: rtl;
    float: right;
}

.main-navigation.toggled .main-nav li {
	text-align: right !important;
}

@media (max-width: 768px) {
	.rtl .mobile-bar-items {
        position: absolute;
		left: 0;
		top: 0;
    }
}

@media (min-width: 768px) {
	.inside-footer-widgets > div {
		float: right;
	}
	.menu-item-has-children ul .dropdown-menu-toggle {
		transform: rotate(180deg);
	}
}
