.indra-font-weight,
.indra-font-transform {
    float: left;
    width: 50%
}

.indra-font-weight select {
    border-right: 0;
}

span.select2-container.select2-container--default.select2-container--open li.select2-results__option {
	margin:0;
}

span.select2-container.select2-container--default.select2-container--open{
	z-index:999999;
}

.select2-selection__rendered li {
    margin-bottom: 0;
}

.select2-container--default .select2-selection--single,
.select2-container--default.select2-container .select2-selection--multiple,
.select2-dropdown,
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	border-color: #ddd;
	border-radius: 0;
}

.select2-container--default .select2-results__option[aria-selected=true] {
	color: rgba(0,0,0,0.4);
}