button.menu-toggle {
    background-color: transparent;
    width: 100%;
    border: 0;
    text-align: center 
}
.nav-search-enabled .main-navigation .menu-toggle {
    text-align: left 
}
.mobile-bar-items {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 21;
    list-style-type: none 
}
.mobile-bar-items a {
    display: inline-block 
}
.mobile-bar-items .search-item.active {
    transition: opacity .3s ease-in-out 
}
.main-navigation.toggled ul ul {
    transition: 0s;
    visibility: hidden 
}
nav.toggled ul ul.sub-menu {
    width: 100% 
}
.dropdown-hover .main-navigation.toggled ul li.sfHover>ul, .dropdown-hover .main-navigation.toggled ul li:hover>ul {
    transition-delay: 0s 
}
.toggled .menu-item-has-children .dropdown-menu-toggle {
    padding-left: 20px 
}
.main-navigation.toggled ul ul.toggled-on {
    visibility: visible 
}
.main-navigation.toggled .main-nav>ul {
    display: block 
}
.main-navigation.toggled .main-nav ul ul.toggled-on {
    position: relative;
    top: 0;
    left: auto!important;
    right: auto!important;
    width: 100%;
    pointer-events: auto;
    height: auto;
    opacity: 1;
    display: block 
}
.main-navigation.toggled .main-nav li {
    float: none;
    clear: both;
    display: block!important;
    text-align: left!important 
}
.main-navigation.toggled .main-nav li.hide-on-mobile, .main-navigation.toggled .menu li.search-item {
    display: none!important 
}
.main-navigation.toggled .dropdown-menu-toggle:before {
    content: "\f107"!important 
}
.main-navigation.toggled .sfHover>a .dropdown-menu-toggle:before {
    content: "\f106"!important 
}
.main-navigation.toggled .menu-item-has-children .dropdown-menu-toggle {
    float: right 
}
.main-navigation.toggled .sf-menu>li.menu-item-float-right {
    float: none!important;
    display: inline-block!important 
}
@media (max-width:1024px) {
    .page-header-blog-content-h h2 {
        font-size: 35px;
    }
    .page-header-blog-content-h h2, .page-header-blog-content-h p {
        margin-bottom: 10px;
    }
    .page-header-blog-content .button {
        padding: 10px 30px;
        font-size: 14px;
    }
}
@media (min-width:769px) {
    .transparent-header .main-navigation,.transparent-header .site-header{
        background-image:none;
        background-color:transparent 
    }
}
@media (max-width:768px) {
    .page-header-blog img {
        width: 100%;
        margin-left: 0;
        display: block;
    }
    .page-header-blog-inner {
        width: 100%;
        position: relative;
    }
    .nav-float-left .inside-header .site-branding, .nav-float-left .inside-header .site-logo, .nav-float-left .inside-header .main-navigation {
        width: 100%;
        float: none;
    }
    .fluid-header .inside-header, .header-widget, .site-info, .top-bar.top-bar-align-left, .top-bar.top-bar-align-right {
        text-align: center 
    }
    .top-bar .widget, .top-bar .indra-social-bar {
        float: none!important;
        margin: 0 10px!important 
    }
    .footer-bar .widget_nav_menu li, .top-bar .widget_nav_menu li {
        float: none;
        display: inline-block;
    }
    .content-area, .inside-footer-widgets>div, .sidebar {
        float: none;
        width: 100%;
        left: 0;
        right: 0 
    }
    .inside-footer-widgets>div:not(:last-child) {
        margin-bottom: 40px 
    }
    .one-container .sidebar {
        margin-top: 40px 
    }
    .separate-containers #left-sidebar+#right-sidebar .inside-right-sidebar {
        margin-top: 0 
    }
    a, body, button, input, select, textarea {
        -webkit-transition: all 0s ease-in-out;
        -moz-transition: all 0s ease-in-out;
        -o-transition: all 0s ease-in-out;
        transition: all 0s ease-in-out 
    }
    .inside-header>:not(:last-child):not(.main-navigation) {
        margin-bottom: 20px 
    }
    .main-navigation .menu-toggle, .main-navigation .mobile-bar-items, .sidebar-nav-mobile:not(#sticky-placeholder) {
        display: block 
    }
    .gen-sidebar-nav, .main-navigation ul {
        display: none 
    }
    [class*=nav-float-] .site-header .inside-header>* {
        float: none;
        clear: both 
    }
    .both-left.separate-containers .inside-left-sidebar, .both-left.separate-containers .inside-right-sidebar, .both-right.separate-containers .inside-left-sidebar, .both-right.separate-containers .inside-right-sidebar {
        margin-right: 0;
        margin-left: 0 
    }
    .site-main {
        margin-left: 0!important;
        margin-right: 0!important 
    }
    body:not(.no-sidebar) .site-main {
        margin-bottom: 0!important 
    }
    .header-widget {
        float: none;
        max-width: 100% 
    }
    .alignleft, .alignright {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto 
    }
    .post-image-aligned-left .post-image, .post-image-aligned-right .post-image {
        float: none;
        margin: 2em 0;
        text-align: center 
    }
    .site-info {
        padding-left: 10px;
        padding-right: 10px 
    }
    .copyright-bar, .footer-bar {
        float: none!important;
        text-align: center!important 
    }
    .footer-bar {
        margin-bottom: 20px 
    }
    .site-footer .footer-widgets .footer-widgets-container .inside-footer-widgets {
        margin: 0 
    }
    .site-footer .footer-widgets .footer-widgets-container .inner-padding {
        padding: 0 
    }
    .comment .children {
        padding-left: 10px;
        margin-left: 0 
    }
    .edd_download {
        display: block;
        float: none!important;
        margin-bottom: 1.5em;
        width: 100%!important 
    }
    .header-aligned-center .header-widget {
        position: inherit 
    }
    .wpkoi-cf7-col1, .wpkoi-cf7-col2 {
        width: 100%;
        float: none;
        margin-left: 0;
        margin-right: 0 
    }
    .nav-float-right .inside-header .main-navigation {
        float: none;
        clear: right 
    }
    .transparent-header .site-header {
        position: initial;
    }
    .page-header-blog-content-h {
        position: relative;
        bottom: 0;
        width: 94%;
        margin-left: 0;
        padding: 20px 3%;
    }
    .page-header-blog-content-h .page-header-blog-content {
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
    }
    .page-header-blog-content h2:before, .page-header-blog-content h2:after{
        display: none;
    }
    .page-header-blog-content-h h2, .page-header-blog-content-h p {
        margin-left: 0;
        margin-right: 0;
        padding: 5px 10px;
    }
    .page-header-blog-content .button {
        margin-left: 10px;
    }
    .page-header-blog-content-h p {
        font-size: 15px;
    }
    .indra-side-left-cover {
        width: 0;
    }
    .indra-side-left-content {
        display: none;
    }
    .fixed-side-mobile .indra-side-left-content {
        display: block;
    }
    .main-navigation .main-nav ul li a, .menu-toggle, .main-navigation .mobile-bar-items a{
        line-height:40px
    }
    .top-bar-align-left .inside-top-bar>.widget:nth-child(3){
        border-left: none;
        padding: 0;
    }
}
